stages:
  - test
  - build
  - deploy

variables:
  IMAGE_NAME: $CI_REGISTRY_IMAGE/latest
  
before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

test:
  stage: test
  image: python:3.12-slim
  script:
    - cd app
    - pip install -r requirements.txt
    - python manage.py test

build:
  stage: build
  image: docker:latest
  script:
    - docker build -t $IMAGE_NAME app/
    - docker push $IMAGE_NAME

deploy:
  stage: deploy
  image: bitnami/kubectl:latest
  script:
    - kubectl apply -f k8s/
